<h1 class="bg-info">working on card task</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
<app-form (productoutput)="onProductopt($event)"></app-form>
    </div>
    <div class="col-md-6" >
      <ng-container *ngIf="productsArray.length > 0 else para">
        <div class="card  mb-3 text-white text-center text-uppercase" *ngFor="let s of productsArray">
          <div class="card-header" 
          [ngClass]="{
            'bg-warning': s.productCate === 'product',
            'bg-secondary' : s.productCate === 'catelog'
        }">
               {{s.productName}}
          </div>
          <div class="card-body" 
          [ngClass]="{
            'bg-success': s.productCate === 'product',
            'bg-info' : s.productCate === 'catelog'
        }">
               {{s.productDescription}}
          </div>
        </div>
      </ng-container>
      <ng-template #para>
        <p class="alert alert-success">product not added plz add the product</p>
      </ng-template>
    </div>
  </div>
</div>